altgraph==0.17
appdirs==1.4.4
attrs==20.3.0
Automat==20.2.0
certifi==2020.12.5
cffi==1.14.5
cfgv==3.2.0
chardet==4.0.0
click==7.1.2
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.6
cssselect==1.1.0
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
future==0.18.2
geojson==2.5.0
hyperlink==21.0.0
identify==2.1.1
idna==2.10
incremental==17.5.0
itemadapter==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
lxml==4.6.2
MarkupSafe==1.1.1
nodeenv==1.5.0
numpy==1.20.1
packaging==20.9
parsel==1.6.0
pefile==2019.4.18
Pillow==8.1.2
pluggy==0.13.1
pre-commit==2.11.1
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyfiglet==0.8.post1
PyHamcrest==2.0.2
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pyowm==3.1.1
pyparsing==2.4.7
PyPDF2==1.26.0
PySocks==1.7.1
python-docx==0.8.10
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
termcolor==1.1.0
toml==0.10.2
tox==3.23.0
urllib3==1.26.2
virtualenv==20.4.2
w3lib==1.22.0
Werkzeug==1.0.1
zope.interface==5.2.0
